
       
  <div class="thumbnail product-box">
 
    <img src="assets/img/dummyimg.png"  class="img-responsive" alt=""  />
 
    <div class="caption">
    <h3><a href="#">{{ p.id }} </a></h3>
    <h3>{{ p.name }}</h3>
    <h5>{{ p.price }}$ (kg)</h5>
    
    <p><a href="#">good price</a></p>
  
        
  <p><button  class="btn btn-success" role="button" (click)="addToCard()">Add To Cart</button> 
 <button href="#" class="btn btn-primary" role="button" (click)="clickToCount()" >Count</button></p>
</div>
</div>
