

<a href="offer.html"><img src="assets/images/download.png" class="img-head" alt=""></a>
<div class="header">

  <div class="container">
    
    <div class="logo">
      <h1 ><a [routerLink]="['/home']" ><b>T<br>H<br>E</b>Big Store<span>The Best Supermarket</span></a></h1>
    </div>
    <div class="head-t">
    <ul class="card">
        <li><a href="wishlist.html" ><i class="fa fa-heart" aria-hidden="true"></i>Wishlist</a></li>
        <li *ngIf="!isLoggedIn"><a [routerLink]="['/login']"  ><i class="fa fa-user" aria-hidden="true"></i>Login</a></li>
        <li *ngIf="!isLoggedIn"><a [routerLink]="['/register']"  ><i class="fa fa-arrow-right" aria-hidden="true"></i>Register</a></li>
        <li  *ngIf="isLoggedIn"><a [routerLink]="['/product']" ><i class="fa fa-file-text-o" aria-hidden="true"></i>Add Shop</a></li>
        <li  *ngIf="isLoggedIn"><a [routerLink]="['/shop']"  ><i class="fa fa-ship" aria-hidden="true" ></i>My Shop</a></li>
      </ul>	
    </div>
 
    <div class="header-ri">
      <ul class="social-top">
        <li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
        <li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
        <li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
        <li><a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
      </ul>	
    </div>
  

      <div class="nav-top">
        <nav class="navbar navbar-default">
        
        <div class="navbar-header nav_2">
          <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          

        </div> 
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
          <ul class="nav navbar-nav ">
            <li class=" active"><a [routerLink]="['/home']" class="hyper " *ngIf="isLoggedIn"><span>Home</span></a></li>	
            
            <li class="dropdown " >
              <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown" ><span>Profil<b class="caret"></b></span></a>
              <ul class="dropdown-menu multi">
                <div class="row">
                  <div class="col-sm-3">
                    <ul class="multi-column-dropdown">
    
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Add & Shop</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Deconnexion</a></li>
                     
                    </ul>
                  
                  </div>
                  <div class="col-sm-3">
                  
                    <ul class="multi-column-dropdown">
                   
                    </ul>
                  
                  </div>
                  <div class="col-sm-3">
                  
                    <ul class="multi-column-dropdown">
                    
                    </ul>
                  </div>
                  <div class="col-sm-3 w3l">
                    <a href="kitchen.html"><img src="images/me.png" class="img-responsive" alt=""></a>
                  </div>
                  <div class="clearfix"></div>
                </div>	
              </ul>
            </li>
            <li class="dropdown">
            
              <a [routerLink]="['/home/list']" class="dropdown-toggle hyper" data-toggle="dropdown" ><span> Liste <b class="caret"></b></span></a>
              <ul class="dropdown-menu multi multi1">
                <div class="row">
                  <div class="col-sm-3">
                    <ul class="multi-column-dropdown">
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Water & Beverages</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Fruits & Vegetables</a></li>
                      <li><a href="kitchen.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Staples</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Branded Food</a></li>
                  
                    </ul>
                    
                  </div>
                  <div class="col-sm-3">
                    
                    <ul class="multi-column-dropdown">
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Breakfast &amp; Cereal</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Snacks</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Spices</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Biscuit &amp; Cookie</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sweets</a></li>
                  
                    </ul>
                    
                  </div>
                  <div class="col-sm-3">
                    
                    <ul class="multi-column-dropdown">
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pickle & Condiment</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Instant Food</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Dry Fruit</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Tea &amp; Coffee</a></li>
                  
                    </ul>
                  </div>
                  <div class="col-sm-3 w3l">
                    <a href="care.html"><img src="images/me1.png" class="img-responsive" alt=""></a>
                  </div>
                  <div class="clearfix"></div>
                </div>	
              </ul>
            </li>
            <li class="dropdown">
              <a  [routerLink]="['/home/card']"  class="dropdown-toggle hyper" data-toggle="dropdown" ><span>Card<b class="caret"></b></span></a>
              <ul class="dropdown-menu multi multi2">
                <div class="row">
                  <div class="col-sm-3">
                    <ul class="multi-column-dropdown">
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cleaning Accessories</a></li>
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>CookWear</a></li>
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Detergents</a></li>
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Gardening Needs</a></li>
                  
                    </ul>
                  
                  </div>
                  <div class="col-sm-3">
                    
                    <ul class="multi-column-dropdown">
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Kitchen & Dining</a></li>
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>KitchenWear</a></li>
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pet Care</a></li>
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Plastic Wear</a></li>
                  
                    </ul>
                  
                  </div>
                  <div class="col-sm-3">
                  
                    <ul class="multi-column-dropdown">
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pooja Needs</a></li>
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Serveware</a></li>
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Safety Accessories</a></li>
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Festive Decoratives </a></li>
                  
                    </ul>
                  </div>
                  <div class="col-sm-3 w3l">
                    <a href="hold.html"><img src="images/me2.png" class="img-responsive" alt=""></a>
                  </div>
                  <div class="clearfix"></div>
                </div>	
              </ul>
            </li>
            
          
            <li><a [routerLink]="['/contact']" class="hyper"><span>Contact Us</span></a></li>
            <li><a *ngIf="isLoggedIn" class="hyper" (click)="logout()"> <span>Deconnexion</span></a></li>
          </ul>
        </div>
        </nav>
        <ul>
         <li class="cart" *ngIf="isLoggedIn" >
       
          <span class="fa fa-shopping-cart my-cart-icon"> Painter ({{cartCounter}}) 
            <ul class="dropdown-menu">
              <li *ngFor= "let pr of cartproducts"> {{ pr.name }} </li>
            </ul>
          </span>
        </li>
        </ul>
       
        
   <!-- Collect the nav links, forms, and other content for toggling -->
  


        <div class="clearfix"></div>
      </div>
        
      </div>			
</div>

<!--
<div data-vide-bg="assets/video/video">
	<div class="container">
	<div class="banner-info">
		<h3>It is a long established fact that a reader will be distracted by 
		the readable </h3>	
		<div class="search-form">
			<form action="#" method="post">
				<input type="text" placeholder="Search..." name="Search...">
				<input type="submit" value=" " >
			</form>
		</div>		
	</div>	
	</div>
</div>

<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
<script src="assets/js/jquery.vide.min.js"></script>
-->